<br>
<div>
<h1 class="text-center text-success">Registration</h1><br>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm1" (ngSubmit)="postdata(angForm1)" autocomplete="off" >
<div class="form-group" style="padding:10px">
<label for="name"><b>Name</b></label>
<input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Enter Fullname">
</div>
<div class="form-group" style="padding:10px">
<label for="email"><b>Email</b></label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Enter Email">
</div>
<div class="form-group" style="padding:10px">
<label for="Password"><b>Password</b></label>
<input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Enter Password">
</div><br>
<div style="text-align:center">
<button type="submit" class="btn btn-success" >Register</button>
</div>
</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>
</div>

